// display

@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flexFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin fontWeightFix {
  &:before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

// text blocks

@mixin heading {
  color: #fff;
  h1 {
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
}

@mixin feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    margin: 30px 0 5px;
  }
  p {
    margin: 0;
  }
}

@mixin testimonial {
  background: hsl(219, 30%, 18%);
  color: #fff;
  border-radius: 5px;
  padding: 30px;
  .user-profile {
    @include flexRow;
    margin-top: 20px;
    img {
      border-radius: 100px;
      width: 30px;
      margin-right: 15px;
    }
    p {
      margin: 4px 0;
      font-size: 10px;
    }
    span {
      font-weight: 700;
      font-size: 12px;
    }
  }
}

@mixin signUp {
  background: hsl(217, 28%, 15%);
  border-radius: 10px;
  box-shadow: 0 10px 25px lighten(hsla(0, 0%, 0%, 0.3), 4);
  text-align: center;
  padding: 2% 5%;
  h1 {
    margin: 15px 0 0;
    font-size: 2rem;
  }
  p {
    width: 90%;
    display: inline-block;
  }
}

@mixin social {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  color: #fff;
  &:before {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    padding: 14px;
    border-radius: 100px;
  }
  &:hover {
    color: hsl(176, 68%, 64%);
    cursor: pointer;
    &:before {
      border: 1px solid hsl(176, 68%, 64%);
    }
  }
}

// CTA

@mixin CTA-1 {
  background: linear-gradient(0.25turn, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 20px 0;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  margin: 25px 0;
  &:hover {
    background: lighten(hsl(176, 68%, 64%), 6);
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

@mixin CTA-2 {
  @include flexRow;
  margin-top: 10px;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  display: inline-block;
  img {
    margin-left: 5px;
    margin-bottom: -3px;
  }
  &:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    img {
      filter: saturate(0);
    }
  }
}

@mixin input {
  margin-right: 25px;
  padding: 22px 40px;
  border-radius: 30px;
  border: none;
  &::placeholder {
    color: #bababa;
  }
  &:focus {
    outline: none;
  }
}
