* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

p, span {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

#navbar {
  background: #1c2431;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#navbar ul li {
  color: #fff;
  margin: 0 30px;
}
#navbar ul li:before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#navbar ul li:hover {
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}
#navbar ul :last-child {
  margin-right: 15px;
}

#title-1 {
  background: url("./images/bg-curvy-desktop.svg") no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: #1c2431;
  padding: 0 25% 10%;
  text-align: center;
  color: #fff;
}
#title-1 h1 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
#title-1 p {
  font-size: 20px;
  margin: 20px 50px;
}
#title-1 button {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(0.25turn, #65e2d9, #339ecc);
  padding: 20px 0;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  margin: 25px 0;
  width: 40%;
}
#title-1 button:hover {
  background: #7ee7e0;
  cursor: pointer;
}
#title-1 img {
  width: 100%;
}

#features {
  background: #181f2a;
  padding: 0 20% 17%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15% 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 25% auto;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 15%;
  grid-row-gap: 25%;
}

#features > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#features > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#features > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#features > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
#features div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
}
#features div h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  margin: 30px 0 5px;
}
#features div p {
  margin: 0;
}
#features .ft-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
#features .ft-1 img {
  width: 90px;
}
#features .ft-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
#features .ft-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
#features .ft-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#title-2 {
  background: #181f2a;
  padding: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
#title-2 h1 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
#title-2 div {
  margin-left: 5%;
  margin-top: 40px;
}
#title-2 h1 {
  margin: 10px 0;
  margin-right: 20%;
}
#title-2 p {
  font-size: 16px;
}
#title-2 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid #65e2d9;
  color: #65e2d9;
  display: inline-block;
}
#title-2 span img {
  margin-left: 5px;
  margin-bottom: -3px;
}
#title-2 span:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
#title-2 span:hover img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
}
#title-2 > img {
  width: 50%;
}

#testimonials {
  background: #181f2a;
  padding: 12% 10% 24%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4% 1fr 4% 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4%;
  position: relative;
  z-index: -2;
}
#testimonials > div {
  background: #202a3c;
  color: #fff;
  border-radius: 5px;
  padding: 30px;
}
#testimonials > div .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
#testimonials > div .user-profile img {
  border-radius: 100px;
  width: 30px;
  margin-right: 15px;
}
#testimonials > div .user-profile p {
  margin: 4px 0;
  font-size: 10px;
}
#testimonials > div .user-profile span {
  font-weight: 700;
  font-size: 12px;
}
#testimonials .t-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  position: relative;
}
#testimonials .t-1 > img {
  position: absolute;
  top: -35px;
  left: -10px;
  z-index: -1;
}
#testimonials .t-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
#testimonials .t-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

#footer {
  background: #0b1523;
  padding: 14% 7% 6%;
  position: relative;
}
#footer > img {
  width: 10%;
}

.sign-up-content {
  color: #fff;
  background: #1c2431;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 25px rgba(10, 10, 10, 0.3);
          box-shadow: 0 10px 25px rgba(10, 10, 10, 0.3);
  text-align: center;
  padding: 2% 5%;
  width: 60%;
  position: absolute;
  left: 20%;
  top: -35%;
}
.sign-up-content h1 {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.sign-up-content h1 {
  margin: 15px 0 0;
  font-size: 2rem;
}
.sign-up-content p {
  width: 90%;
  display: inline-block;
}
.sign-up-content .sign-up-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.sign-up-content .sign-up-form input {
  width: 70%;
  margin-right: 25px;
  padding: 22px 40px;
  border-radius: 30px;
  border: none;
}
.sign-up-content .sign-up-form input::-webkit-input-placeholder {
  color: #bababa;
}
.sign-up-content .sign-up-form input::-moz-placeholder {
  color: #bababa;
}
.sign-up-content .sign-up-form input:-ms-input-placeholder {
  color: #bababa;
}
.sign-up-content .sign-up-form input::-ms-input-placeholder {
  color: #bababa;
}
.sign-up-content .sign-up-form input::placeholder {
  color: #bababa;
}
.sign-up-content .sign-up-form input:focus {
  outline: none;
}
.sign-up-content .sign-up-form button {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(0.25turn, #65e2d9, #339ecc);
  padding: 20px 0;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  margin: 25px 0;
  width: 30%;
  font-size: 16px;
}
.sign-up-content .sign-up-form button:hover {
  background: #7ee7e0;
  cursor: pointer;
}
.sign-up-content .sign-up-form span {
  font-size: 12px;
  position: absolute;
  left: 40px;
  bottom: -5px;
  color: #ff4242;
}
.sign-up-content .sign-up-form.invalid input {
  outline: 2px solid #ff4242;
}

.footer-content {
  margin-top: 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-content .f-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30%;
}
.footer-content .f-info p {
  font-size: 16px;
  margin: 0;
}
.footer-content .f-info img {
  margin-top: 6px;
  margin-right: 25px;
}
.footer-content .f-contact p {
  margin: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-content .f-contact img {
  margin-right: 25px;
}
.footer-content .f-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 18%;
}
.footer-content .f-options ul {
  margin: 0;
}
.footer-content .f-options ul li {
  margin-bottom: 15px;
}
.footer-content .f-options ul li:before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.footer-content .f-options ul li:hover {
  font-weight: 700;
  cursor: pointer;
}
.footer-content .f-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-content .f-socials ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px;
  color: #fff;
}
.footer-content .f-socials ul li:before {
  content: "";
  position: absolute;
  border: 1px solid #fff;
  padding: 14px;
  border-radius: 100px;
}
.footer-content .f-socials ul li:hover {
  color: #65e2d9;
  cursor: pointer;
}
.footer-content .f-socials ul li:hover:before {
  border: 1px solid #65e2d9;
}